version: 2
updates:
- package-ecosystem: nuget
  directory: "/src/Sams2048.Logic"
  schedule:
    interval: daily
    time: "06:00"
    timezone: America/New_York
  open-pull-requests-limit: 10
  assignees:
  - "samsmithnz"
  groups:
    logic:
      patterns: ["*"]
      update-types: ["minor", "patch"]
- package-ecosystem: nuget
  directory: "/src/Sams2048.Tests"
  schedule:
    interval: daily
    time: "06:00"
    timezone: America/New_York
  open-pull-requests-limit: 10
  assignees:
  - "samsmithnz"
  groups:
    tests:
      patterns: ["*"]
      update-types: ["minor", "patch"]
- package-ecosystem: nuget
  directory: "/src/Sams2048.WPF"
  schedule:
    interval: daily
    time: "06:00"
    timezone: America/New_York
  open-pull-requests-limit: 10
  assignees:
  - "samsmithnz"
  groups:
    wpf:
      patterns: ["*"]
      update-types: ["minor", "patch"]
# Maintain dependencies for GitHub Actions
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  open-pull-requests-limit: 10
  assignees:
  - "samsmithnz"
  groups:
    actions:
      patterns: ["*"]
      update-types: ["major", "minor", "patch"]
